$black: #000000;
$mine-shaft: #1F1F1F;
$white: #ffffff;
$french-rose: #ea5289;
$ship-gray: #36343c;
$eminence: #773288;
$lavender-gray: #c8afd7;
$manatee: #8d889c;
$emperor: #524C4C;


$screen-sd: 479px;
$screen-md: 767px;
$screen-lg: 1049px;
$screen-xl: 1440px;