/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v20-latin-regular.eot");
    src: local(""),
        url("../fonts/roboto-v20-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v20-latin-regular.woff") format("woff"),
        url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"),
        url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
}
/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v20-latin-500.eot");
    src: local(""),
        url("../fonts/roboto-v20-latin-500.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/roboto-v20-latin-500.woff2") format("woff2"),
        url("../fonts/roboto-v20-latin-500.woff") format("woff"),
        url("../fonts/roboto-v20-latin-500.ttf") format("truetype"),
        url("../fonts/roboto-v20-latin-500.svg#Roboto") format("svg");
}
/* montserrat-900 - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/montserrat-v15-latin-900.eot");
    src: local(""),
        url("../fonts/montserrat-v15-latin-900.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat-v15-latin-900.woff2") format("woff2"),
        url("../fonts/montserrat-v15-latin-900.woff") format("woff"),
        url("../fonts/montserrat-v15-latin-900.ttf") format("truetype"),
        url("../fonts/montserrat-v15-latin-900.svg#Montserrat") format("svg");
}
/* lato-regular - latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/lato-v17-latin-regular.eot");
    src: local(""),
        url("../fonts/lato-v17-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
        url("../fonts/lato-v17-latin-regular.woff") format("woff"),
        url("../fonts/lato-v17-latin-regular.ttf") format("truetype"),
        url("../fonts/lato-v17-latin-regular.svg#Lato") format("svg");
}

/* lato-700 - latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/lato-v17-latin-700.eot");
    src: local(""),
        url("../fonts/lato-v17-latin-700.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/lato-v17-latin-700.woff2") format("woff2"),
        url("../fonts/lato-v17-latin-700.woff") format("woff"),
        url("../fonts/lato-v17-latin-700.ttf") format("truetype"),
        url("../fonts/lato-v17-latin-700.svg#Lato") format("svg");
}
