.solutions-section {
    padding: 33px 10px 68px;
    &__card {
        @media screen and (max-width: $screen-md) {
            width: 400px;
        }
        @media screen and (max-width: $screen-sd) {
            width: 300px;
            padding: 10px 5px;
        }
        width: 532px;
        height: 148px;
        background: $white;
        border-radius: 20px;
        margin-bottom: 48px;
    }
}
.solutions-card {
    &__caption {
        margin: 0;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        font-size: 21px;
        line-height: 25px;
        text-transform: uppercase;
        color: $eminence;
    }
}