.start-btn-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $mine-shaft url(/image/svg/background09.svg) no-repeat;
    background-size: cover;
    padding: 100px 0 82px 0;
    &__text {
        max-width: 987px;
        margin: 0;
        font-family: "Lato";
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        color: $white;
    }
}
.start-btn-conteiner {
    text-align: center;
    width: 100%;
    &__startBtn {
        width: 280px;
        height: 72px;
        margin-top: 30px;
        background: $french-rose;
        border: none;
        border-radius: 60px;
        padding: 26px 72px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        cursor: pointer;
        color: $white;
        transition: 0.3s;
        &:hover {
            @extend %btn-hover;
        }
    }
}
