.about-innovative {
    background: url(/image/svg/background05.svg) no-repeat;
    background-size: cover;
    padding: 0 10px;
    &__caption {
        max-width: 1109px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 142px 0 140px;
        &-row {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 50px;
            margin: 0;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            color: $white;
        }
    }
    &__text {
        width: 100%;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 66px;
        text-align: center;
        color: $white;
        margin: 0;
    }
}
