.blog-article {
    @media screen and (max-width: $screen-sd) {
        padding: 34px 10px 35px;
    }
    padding: 94px 10px 75px;
    background: $white;
    &__header-card {
        @media screen and (max-width: $screen-sd) {
            flex-wrap: wrap;
        }
        max-width: 1012px;
        height: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background: $white;
        box-shadow: 0px 10px 30px rgba(228, 214, 231, 0.5);
        border-radius: 20px;
    }
    &__image {
        @media screen and (max-width: $screen-md) {
            width: 100%;
        }
        @media screen and (max-width: $screen-sd) {
            border-radius: 22px;
        }
    }
    &__date {
        position: relative;
        padding-left: 27px;
        margin: 0 0 25px;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        color: $eminence;
        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0px;
            width: 18px;
            height: 23px;
            background-image: url(/image/svg/blog-calendar-icon.svg);
        }
    }
    &__text-wraper {
        @media screen and (max-width: $screen-lg) {
            padding: 38px;
        }
        padding: 58px;
    }
    &__caption {
        @media screen and (max-width: $screen-lg) {
            font-size: 30px;
            line-height: 30px;

        }
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        color: $mine-shaft;
        margin: 0;
    }
    &__content {
        max-width: 800px;
        margin: 76px auto 0;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: $emperor;
        & > p {
            margin-top: 0;
        }
        & > h2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 900;
            font-size: 21px;
            line-height: 25px;
            color: $eminence;
            text-transform: uppercase;
        }
    }
}
