.increas-leads-section {
    position: relative;
    background: url(/image/svg/background04.svg);
    &__wrapper {
        max-width: 1109px;
        margin: 0 auto;
        padding: 66px 10px 80px;
    }
    &__caption {
        @media screen and (max-width: $screen-sd) {

            font-size: 32px;
            line-height: 36px;
        }
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        text-align: left;
        text-transform: uppercase;
        color: $white;
        margin: 0;
    }
    &__description {
        @media screen and (max-width: $screen-lg) {
            max-width: 534px;
        }
        max-width: 634px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        margin: 20px 0 36px;
        color: $lavender-gray;
    }
    &__startBtn {
        width: 280px;
        height: 72px;
        background: $french-rose;
        border: none;
        border-radius: 60px;
        padding: 26px 72px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        cursor: pointer;
        color: $white;
        transition: 0.3s;
        &:hover {
            @extend %btn-hover;
        }
    }
    &__rocket {
        @media screen and (max-width: $screen-lg) {
            width: 350px;
            right: 0;
        }
        @media screen and (max-width: $screen-md) {
            width: 230px;
            right: 5%;
        }
        @media screen and (max-width: $screen-sd) {
            display: none;
        }
        position: absolute;
        bottom: 0;
        right: 10%;
    }
}
